@use "../assets/styles/mixins" as mixin;

.nav {
    background-color: var(--gray-1);
    width: 500px;
    height: 50px;
    margin: 15px auto; /* Marge automatique pour centrer horizontalement */
    display: flex;
    align-items: center; /* Aligner verticalement le contenu */
    justify-content: center; /* Centrer horizontalement le contenu */
    border-radius: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    a {
      font-size: 16px;
      @include mixin.md-lt {
        font-size: 15px;
      }
      @include mixin.md-lt {
        width: 350px;
        font-size: 10px;
      }
    }
    
    .navContent {
      display: flex;
      align-items: center;
      color: var(--red-1);
      font-weight: 700;
    }
    @include mixin.md-lt {
      width: 350px;
    }
    @include mixin.md-lt {
      width: 300px;
    }
  }
  